nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(250, 251, 252);
    color:black;
    font-family: 'Montserrat', sans-serif;
    
    
  
}
.nav-menu{
    width: 50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: 'Montserrat', sans-serif; 
    list-style-type: none;
   
}

.active{
    color:darkcyan;
}

.active.navBtns:hover{
    color: darkcyan
  }

